html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 60px;
}

.coluna {
    float: left;
    width: 45%;
    padding: 10px;
    margin: 5px;
    border: #000 1px dashed;
}

.limpar {
    clear: both;
}

input {
    resize: none;
    width: 90%;
    margin: 5px 0px;
    padding: 5px;
    border: 0px;
    border-bottom: black 1px solid;
}

#data {
    resize: none;
    width: 20%;
    margin: 5px 0px;
    padding: 5px;
    border: 0px;
    border-bottom: black 1px solid;
}

#t1 {
    resize: none;
    width: 90%;
    height:60px;
    margin: 5px 0px;
    padding: 5px;
    border: 0px;
    border-bottom: black 1px solid;
}

#t3 {
    resize: none;
    width: 90%;
    height:170px;
    margin: 5px 0px;
    padding: 5px;
    border: 0px;
    border-bottom: black 1px solid;
}

#exemplo {
    resize: none;
    width: 90%;
    height:160px;
    margin: 5px 0px;
    padding: 5px;
    border: 0px;
    border-bottom: black 1px solid;
}

.botao {
    width: 60px;
    height: 30px;
    border: black 1px solid;
}

h1 {
    font-family: arial;
    margin: 20px 10px;
}

p{
    font-size:12px;
}
